a {
    text-decoration: none;
}

.container, .mensajeCajaCerrada {
    display: none;
}

#mesaModal{
    top: 0;
    left: 0;
    position: absolute;
    width: auto;
    height: auto;
    padding: 346px;
    padding-right: 61%;
    /* padding-top: 300px;
    padding-bottom: 1080px;
    padding-right: auto;
    padding-left: 800px; */
    background: rgba(75, 75, 75, 0.452);
    z-index: 99998;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.drowerMesa{
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 8px;
    padding: 10px;
}

#cerrarMesa {
    width: 40px;
}